<!-- admin/trail.htm  -->
<script type="text/javascript">
$(function () {
    $("#list").jqGrid({ 
        url: "/trailgrid",
			// editurl:"/edituser",
        datatype: "xml",
        mtype: "GET",
       colNames: ["Surname", "Forename", "Num.", "Phone","Mobile","Email","Type","Location","Paid","Amt Paid","Joined","Paid","Fee Where?","Changed","By Whom","Change"],//],
        colModel: [
           
			{ name: "surname", width: 110,editable: false, edittype:"text",searchoptions : {
                            // show search options
                            sopt: ["bw","eq"] // ge = greater or equal to, le = less or equal to, eq = equal to  							
						}},
             {name: "forename", width: 110,editable: false, },
			 { name: "membnum", width: 60,searchoptions : {sopt: ["eq"] }, searchrules:{integer:true},sorttype:'number'}, //  eq = equal to  	
			{ name: "phone", width: 85, align: "right",editable: false,},
            { name: "mobile", width: 85, align: "right",editable: false,  }, 
            { name: "email", width: 210, align: "right",editable: false,searchoptions : {sopt: ["cn"] },editrules: { email: true, required: false},}, 
			{ name: "membtype", width: 50, align: "right",editable: false,},
             { name: "location", width: 50, align: "right" ,editable: false,},
			 { name: "paidthisyear", width: 50, align: "right" ,editable: false,  }, 
			  { name: "amtpaidthisyear", width: 50, align: "right",editable: false,},
			  { name: "datejoined", width: 100, align: "right",search:false },    
			  { name: "datepaid", width: 100, align: "right",search:false },   
			  { name: "feewhere", width: 100, align: "right",search:false },   
			  { name: "created_at", width: 150, align: "right",search:true }, 
			  { name: "editor", width: 80, align: "right",search:true, searchoptions : {sopt: ["bw"] },searchrules:{string:true}}, 
			  { name: "change", width: 80, align: "right",search:false }, 
			  
			
        ],
        pager: "#pager",
		//onSelectRow: editRow,
		//width :700,
        rowNum: 10,
        rowList: [10, 20, 30],
        sortname: "created_at",
        sortorder: "desc",
        viewrecords: true,
        gridview: true,
        autoencode: true,
        caption: "User auto grid",
		 height:'auto',
		 altRows: true,
		 footerrow : true,
		 userDataOnFooter : false, 
	
    }); 
	
 


 $('#list').navGrid('#pager',
                { edit: false, add: false, del: false, search: false, refresh: true, view: false, position: "left", cloneToTop: false },
				{}
					);
 $('#list').jqGrid('filterToolbar',{searchOperators: true,	});
	}			); 
</script>
 

    <table id="list"><tr><td></td></tr></table> 
    <div id="pager"></div> 
