    <!-- contents of attend event/list.htm -->
	<table id="list"><tr><td></td></tr></table> 
    <div id="pager"></div> 
	<br>
	<input type="BUTTON" id="bedit" value="Edit Selected" /> &nbsp; &nbsp; &nbsp;<input type="BUTTON" id="badd" value="Add an Event" />&nbsp; &nbsp; &nbsp;
<br><br><br>
	<a href="javascript:void(0)" id="cm1">Refresh with NO Filter</a>

	<br>
<!-- 	U3AYear = {{@SESSION.u3ayear}}
 U3Astart month = {{@SESSION.u3astartmonth}} 
MJL1 start month = {{@SESSION.mjl1startmonth}}-->
	<input type="hidden" id="addeditdel" value="a" />
	