<script type="text/javascript">
$(function () {

var myrole= $('#myrole').text();
if (myrole == 'user') {myeditability=false;hidemoney=true;paideditability=false;
$("#bedit").hide();$("#badd").hide();$("#bdelr").hide();$("#bdelnr").hide();
}
else {myeditability=false; paideditability=false;hidemoney=false;} 


    $("#list").jqGrid({ 
     /*   url: "/eventgrid", 
		editurl:"/editevent",
        datatype: "xml",*/
		 url: "/eventgrid", 
		editurl:"/editevent",
        datatype: "json",
		jsonReader : {
		  root:"eventdata",
		  page: "currpage",
		  total: "totalpages",
		  records: "totalrecords",
		  repeatitems: false,
		  id: "0"
			},
		ignoreCase: true,
        mtype: "GET",
        colNames: ["","Event Name", "Event Date", "Event Contact", "Event Limit","Current Count","Full","","",""],//],
        colModel: [
           		{ name:"id",hidden:true},
			{ name: "event_name", width: 300,editable: myeditability, edittype:"text",
                            // show search options
                            searchoptions : {sopt: ["cn"] },  // ge = greater or equal to, le = less or equal to, eq = equal to  	
							editrules: { number: false, required: true}},
             {name: "event_date", width: 80,editable: myeditability, edittype:"text", editrules: { number: false, required: true}},
			 { name: "event_contact_email", width: 180,searchoptions : {sopt: ["cn"] }, searchrules:{integer:true},sorttype:'number'}, //  eq = equal to  	
			{ name: "event_limit", width: 85, align: "right",editable: myeditability, edittype:'custom',searchoptions : {sopt: ["eq"] } ,editrules:{custom:true,required:false}},
            { name: "event_current_count", width: 85, align: "right",editable: myeditability, edittype:'custom',editrules:{custom:true,required:false}},  
            { name: "event_full", width: 85, align: "right",editable: myeditability,searchoptions : {sopt: ["eq"] }, edittype:"text" ,editrules: { email: true, required: false},}, 
			{ name:"",hidden:true},
			{ name:"",hidden:true},
			{ name:"",hidden:true},
			 /**/
			
        ],
			pager: "#pager",
			page:1, //LEY

			onSelectRow: getDetail,
			rowNum: 5, 
			rowList: [5, 10, 15],
			sortname: "event_date",
			sortorder: "asc", 
			viewrecords: true,
			loadonce:true,  //LEY
			gridview: true,
			autoencode: true,
			caption: "",
			height:'auto',
			altRows: false,
			footerrow : true,
			userDataOnFooter : true,
			multiselect: false,
			ajaxRowOptions: { async: true },
			//cellEdit:true,
			// multikey: "ctrlKey", 
			loadComplete:function() {
			//var count = $("#list").jqGrid('getGridParam','reccount');
			//var myrole= $('#myrole').text();
			//var count = $('#list').jqGrid('getGridParam','data').length;
			
			},
	 
    });
	$('#list').jqGrid('navGrid','#pager',
		{ edit: false, add: false, del: false, search: false, refresh: true, view: false, position: "left", cloneToTop: false, },
		{afterSubmit: function(response, postdata) { $("#list").trigger("reloadGrid");return true;},
		//},		
		 beforeShowForm: function(form) { $('#tr_amtpaidthisyear', form).hide(); }  // for edit
		}, // use default settings for edit
		{dataheight:'550px',beforeShowForm: function(form) { $('#tr_amtpaidthisyear', form).show();$('#tr_paidthisyear', form).show(); }}, // use default settings for add
		{},  // refresh   //for delete
		{closeAfterAdd: true, 
                    recreateForm: true
				   }, // enable the advanced searching
		{closeOnEscape:true}
	

                  );
		$('#list').jqGrid('filterToolbar',{searchOperators: true,	});

	// detail grid
     $("#jqGridRequester").jqGrid({
       url: "/app/views/attendeegrid2/0", 
		editurl:"/editattendee",
        datatype: "json",
		jsonReader : {
		  root:"attendeedata",
		  page: "currpage",
		  total: "totalpages",
		  records: "totalrecords",
		  repeatitems: false,
		  id: "0"
			},
		ignoreCase: true,
        mtype: "GET",
        colNames: ["ID","Name", "Member No.", "Member\nPaid", "Member/Guest","Requester Email","Status","Num Requested","Requested at","",""],//],
        colModel: [
           { name:"id",hidden:true},
			{ name: "name", width: 160,editable: myeditability, edittype:"text",
                            // show search options
                            searchoptions : {sopt: ["cn"] },  // ge = greater or equal to, le = less or equal to, eq = equal to  	
							editrules: { number: false, required: true}},
             {name: "membnum", width: 80,editable: myeditability, edittype:"text", editrules: { number: false, required: true}},
			 { name: "member_paid", width:80,searchoptions : {sopt: ["cn"] }, searchrules:{integer:true},sorttype:'number'}, //  eq = equal to  	
			{ name: "member_guest", width: 85, align: "right",editable: myeditability, edittype:'custom',searchoptions : {sopt: ["eq"] } ,editrules:{custom:true,required:false}},
            { name: "requester_email", width: 85, align: "right",editable: myeditability, edittype:'custom',editrules:{custom:true,required:false}},  
            { name: "request_status", width: 85, align: "right",editable: myeditability,searchoptions : {sopt: ["eq"] }, edittype:"text" ,editrules: { email: true, required: false},}, 
            { name: "request_count", width: 185, align: "right",editable: myeditability,searchoptions : {sopt: ["eq"] }, edittype:"text" ,editrules: { email: true, required: false},}, 
             { name: "created_at", width: 185, align: "right",editable: myeditability,searchoptions : {sopt: ["eq"] }, edittype:"text" ,editrules: { email: true, required: false},}, 

			{ name:"",hidden:true},
			{ name:"",hidden:true},
			
			
				],
			pager: "#pager2",
			page:1, //LEY

			onSelectRow: getDetail2,
			rowNum: 10, 
			rowList: [10, 20, 30],
			sortname: "created_at",
			sortorder: "asc", 
			viewrecords: true,
			loadonce:true,  //LEY
			gridview: true,
			autoencode: true,
			caption: "",
			height:'auto',
			altRows: false,
			footerrow : true,
			//userDataOnFooter : true,
			multiselect: false,
			ajaxRowOptions: { async: true },
			//cellEdit:true,
			// multikey: "ctrlKey", 
			loadComplete:function() {
			//var count = $("#list").jqGrid('getGridParam','reccount');
			var myrole= $('#myrole').text();
			var count = $('#jqGridRequester').jqGrid('getGridParam','data').length;

			},


})	;	
            var lastSelection;
// use the onSelectRow that is triggered on row click to show a details grid	

function getDetail(rowid,selected) { var grid = $("#list");
					if(rowid != null) {
					xid= $("#list").jqGrid('getCell',rowid,'id');
					xname= $("#list").jqGrid('getCell',rowid,'event_name');

				/***		jQuery("#tree2").jqGrid('setGridParam',{url: "data.json2/"+xid,datatype: 'json'}); // the last setting is for demo only
						jQuery('#tree2').jqGrid('clearGridData');
						//jQuery("#tree2").jqGrid('setGridParam',{datatype:'json', page:1}).trigger('reloadGrid');
						jQuery("#tree2").trigger("reloadGrid", { fromServer: true, page: 1 });
						jQuery("#tree2").jqGrid('setCaption', 'Attendees Grid for event::'+xname+' '+xid);
					} **/
				jQuery("#jqGridRequester").jqGrid('setGridParam',{url: "attendeegrid2/"+xid,datatype: 'json'}); // the last setting is for demo only
				//jQuery('#jqGridRequester').jqGrid('clearGridData');
				//jQuery("#tree2").jqGrid('setGridParam',{datatype:'json', page:1}).trigger('reloadGrid');
				jQuery("#jqGridRequester").trigger("reloadGrid", { fromServer: true, page: 1 });
				jQuery("#jqGridRequester").jqGrid('setCaption', 'Attendee Grid for event::'+xname+' '+xid);		
					}
		//		 grid.jqGrid('FormToGrid', id,'#FormPost');
		//		 grid.jqGrid('editRow',id, true,  '','','','',editreload); //rowid, keys, oneditfunc, successfunc, url, extraparam, aftersavefunc,errorfunc, afterrestorefunc
        //            lastSelection = id;
					//$("#"+id+"_formattedvalue").focus();
                
            }
function getDetail2(rowid,selected) { var grid = $("#list");
	/**				if(rowid != null) {
					xid= $("#jqGridRequester").jqGrid('getCell',rowid,'id');
					xname= $("#jqGridRequester").jqGrid('getCell',rowid,'name');

				jQuery("#jqGridAttendees").jqGrid('setGridParam',{url: "attendeegrid3/"+xid,datatype: 'json'}); // the last setting is for demo only
				//jQuery('#jqGridRequester').jqGrid('clearGridData');
				//jQuery("#tree2").jqGrid('setGridParam',{datatype:'json', page:1}).trigger('reloadGrid');
				jQuery("#jqGridAttendees").trigger("reloadGrid", { fromServer: true, page: 1 });
				jQuery("#jqGridAttendees").jqGrid('setCaption', 'Guest Grid for ::'+xname+' '+xid);		
					}
					***/

                
            }
			

/***********			
function editreload(rowid, result) {
			//get response and update the local grid for those values that are computed i.e. amtpaidthisyear
			$showit=$.parseJSON(result.responseText);
			grid.jqGrid('setCell', rowid, 'amtpaidthisyear', $showit.amtpaidthisyear);
			grid.jqGrid('setCell', rowid, 'paidthisyear', $showit.paidthisyear);
		$curpg=$('#list').getGridParam('page'); // current page
		//$("#list").trigger("reloadGrid", [{ page: $curpg}]); 
		reloadpage($curpg);
		}		
function reload(rowid, result) {
		$("#list").trigger("reloadGrid", [{ page: 1}]);
		}
function reloadpage(relpage) {
		$("#list").trigger("reloadGrid", [{ page: relpage}]);
		}
*******/
			
	
 var grid = $("#list");


		//***************  REFRESH BUTTON **********/
		/***
$("#cm1").click( function() { //Refresh
		var grid = $("#list");
		//$('grid').jqGrid('clearGridData');
		//$('grid').jqGrid('setGridParam', {data: dataToLoad});
		//
		  //var text = $("#searchText").val();
    var postdata = grid.jqGrid('getGridParam', 'postData');
    // build up the filter
    // ['equal','not equal', 'less', 'less or equal','greater','greater or equal', 'begins with','does not begin with','is in','is not in','ends with','does not end with','contains','does not contain']
    // ['eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','cn','nc']
    var myfilter =  '{"groupOp":"AND","rules":[{"field":"paidthisyear","op":"ne","data":"\'A\'"}]}';         
 

    $.extend(postdata, { filters: myfilter });
    grid.jqGrid('setGridParam', { search: false, postData: postdata,datatype:'json' });        
    grid.trigger("reloadGrid", [{ page: 1,datatype:'json'}]);
	//$("#list").setGridParam({datatype:'json', page:1}).trigger('reloadGrid');
	//$("grid").trigger("reloadGrid", [{ page: 1,datatype:'xml'}]);x
 
});
***/


}); 


</script>
    <!-- contents of attend event/list3.htm -->
	<table id="list"><tr><td></td></tr></table> 
    <div id="pager"></div> 
	<br>
 	<table id="jqGridRequester"><tr><td></td></tr></table> 
    <div id="pager2"></div> 
	<br>


   

 <!-- 	<input type="BUTTON" id="bedit" value="Edit Selected" /> &nbsp; &nbsp; &nbsp;<input type="BUTTON" id="badd" value="Add an Event" />&nbsp; &nbsp; &nbsp; -->	
<br>
<!-- 			<a href="javascript:void(0)" id="cm1">Refresh with NO Filter</a> -->

	<br>
<!-- 	U3AYear = {{@SESSION.u3ayear}}
 U3Astart month = {{@SESSION.u3astartmonth}} 
MJL1 start month = {{@SESSION.mjl1startmonth}}-->
	<input type="hidden" id="addeditdel" value="a" />
	