<script type="text/javascript">
$(function () {
//  *************No longer used so marked hidden, left in case I need the technique again **********/	
/****$("#ninja").click(function(){
var theBtn = $(':focus');
var theselection = theBtn[0].name;
$("#ninja")[0].action     ="{{@BASE.'/downloads2/"+theselection+"'}}";
$("#ninja").submit();
});
//***************  PDF BUTTON **********/
//  *************No longer used so marked hidden, left in case I need the technique again **********/	
/****$("#pdf0 a,#pdf1 a").click( function() { //PDFs
	var theBtn = $(':focus');
	//var theselection = theBtn[0].name;	
	var theselection = this.name;
			//$.post("/downloads2",{theset:theselection},function(data) {
			//var $showit=$.parseJSON(data);
			//	})
			//	$.get("{{ @BASE.'/downloads/all' }}");
			window.location.href = "/downloads/"+theselection;
		})
		***/
		})
</script>
<div class="navbar">

    <div class="navbar-inner">
			<ul class="nav" id="pdf0">
			<li class="active" ><a href="{{ @BASE.'/downloads/all' }}"><em class="icon-th icon-black"></em>All Members PDF</a></li>
			<li class="active" ><a href="{{ @BASE.'/downloads/at' }}"><em class="icon-th icon-black"></em>Admin Team PDF</a></li>
			<li class="active" ><a href="{{ @BASE.'/downloads/gl' }}"><em class="icon-th icon-black"></em>Group Leaders PDF</a></li>
			</ul>
    </div>
    </div>
 
			

 			<check if="{{ @page_role == 'user'}}">
			<!-- page role is not user but we are in member list / not in Login--> 
			<false>  
			<div class="jumbotron">
                <h1>Other Lists</h1>
            </div>			
			<div class="navbar">
			<div class="navbar-inner">
			<ul class="nav">
			<li class="active"><a href="{{ @BASE.'/downloads/unpaid' }}"><em class="icon-th icon-black"></em> Unpaid Members PDF</a></li>
			<li class="active" ><a href="{{ @BASE.'/downloads/paid' }}"><em class="icon-th icon-black"></em> Paid Members PDF</a></li>
			<li class="active" ><a href="{{ @BASE.'/downloads/lastyear' }}"><em class="icon-th icon-black"></em> Last Year's Members PDF</a></li>
		 	</ul>
			</div>
			</div>
				<div class="jumbotron">
                <h1>Treasury Lists</h1>
            </div>			
			<div class="navbar">
			<div class="navbar-inner">
			<ul class="nav">
			<li class="active"><a href="{{ @BASE.'/downloads/weekly' }}"><em class="icon-th icon-black"></em> Previous Week's Payers PDF</a></li>
			<li class="active"><a href="/financialxmail/{{ @fyear}} "><em class="icon-th icon-black"></em> {{@fyear}} Financial Spreadsheet</a></li>
			<li class="active"><a href="/financialxmail/{{ @fyear-1}} "><em class="icon-th icon-black"></em> {{@fyear-1}} Financial Spreadsheet</a></li>
			<!-- li class="active" ><a href="{{ @BASE.'/downloads/willpay' }}"><em class="icon-th icon-black"></em> This FY todate</a></li>
			<li class="active" ><a href="{{ @BASE.'/downloads/lastyear' }}"><em class="icon-th icon-black"></em> Last FY Numbers</a></li -->
		 	</ul>
			</div>
			</div>
			</false></check>
<!-- No longer used so marked hidden, left in case I need the technique again -->			
<form id="ninja" action="http://192.168.10.10/downloads1/all" method="GET">
	<input type="BUTTON" id="expall" value="Export All Members Emails1"  hidden  name="all"/> &nbsp; &nbsp; &nbsp;
	<input type="BUTTON" id="expcm" value="Export Admin Team Emails" hidden name="cm" />&nbsp; &nbsp; &nbsp;
	<input type="BUTTON" id="expgl" value="Export Group Leaders Emails" hidden name="gl"/>

</form><br>
