<script type="text/javascript">
$(function () {
 /*** $.ajax({ type: "POST",
           url:   "https://mpzmail.com/api/v3.0/subscribers/listSubscribers/",
data:"<?xml version=1.0?>" +
	"<apiKey>60029-01062015144714</apiKey>"+
	"<groupID>5357</groupID>"+
	"</xml>",
	  contentType: "text/xml",
		dataType: "xml",
		 cache: false,
		error: function() { alert("No data found."); },
		success: function(xml) {
			alert("it works");
		//	alert($(xml).find("project")[0].attr("id"));
		}
                
                 
              } );  //function(data) {                     $('#stage').html(data); }
				//window.location.href = "/reverserollover2";
		**/		
var $s=0;
			
			
});
</script>